{% extends 'main/base.html' %}
{% load static %}

{% block title %}
تعديل النقاش
{% endblock %}

{% block style %} <link rel="stylesheet" href="{% static 'community/css/style.css' %}"> {% endblock %}


{% block content %}

<div class="create-page">

    <h1 class="page-title">
       تعديل النقاش
    </h1>

    <p class="page-subtitle">
       قم بتعديل بيانات النقاش
    </p>

    <div class="create-card">

        <form method="POST">

        {% csrf_token %}

            <!-- TITLE -->

            <div class="form-group">

                <label class="form-label">
                    عنوان النقاش
                </label>

                <input type="text" class="form-input" placeholder="اكتب عنوانًا واضحًا..." name="title" required value="{{ form.title.value }}">

            </div>

            <!-- CATEGORY -->

            <div class="form-group">

                <label class="form-label">
                    التصنيف
                </label>

                <select class="form-select" name="category" required>

                    {% for value, label in form.category.field.choices %}

                        {% if value %}

                            <option
                                value="{{ value }}"
                                {% if form.category.value == value %}selected{% endif %}>
                                {{ label }}
                            </option>

                        {% endif %}

                    {% endfor %}

                </select>

            </div>

            <!-- CONTENT -->

            <div class="form-group">

                <label class="form-label">
                    محتوى النقاش
                </label>
                <textarea class="form-textarea" placeholder="اكتب تفاصيل النقاش هنا..." name="content" required>{{ form.content.value }}</textarea>
            </div>

            <div class="form-group">

                <label class="form-label">
                    الوسوم
                </label>

                <input value="{{ form.tags.value }}" type="text" class="form-input" name="tags" placeholder="مثال: #النطق #التوحد #التواصل" required>

                <small class="tags-note">
                    اكتب الوسوم باستخدام #
                </small>
            </div>
            <div class="actions">
                <a type="button" class="cancel-btn" href="javascript:history.back()">
                    إلغاء
                </a>
                <button type="submit" class="publish-btn">
                   حفظ التعديلات
                </button>
            </div>
        </form>
    </div>
</div>

{% endblock %}