{% load static %}
<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="UTF-8">
    <title>تم التغيير</title>

    <link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">
</head>

<body>

    <div class="auth-wrapper">
        <!-- ══ LEFT PANEL ══ -->
        <div class="auth-panel-left">

            <div class="panel-image">
                <img src="https://res.cloudinary.com/ddkq9ideu/image/upload/q_auto/f_auto/v1778738710/mupd1hhlm4w5vn23ot73.png"
                    alt="illustration"
                    class="panel-img">
            </div>

            <div class="panel-tagline">
                <h2>لا تقلق،<br />هذا يحدث أحيانًا!</h2>
                <p>سنساعدك على العودة إلى رحلة طفلك في أسرع وقت.</p>
            </div>

            <div class="panel-dots">
                <span class="active"></span>
                <span></span>
                <span></span>
            </div>

        </div>
        <!-- END LEFT PANEL -->

        <div class="auth-panel-right">

            <div class="auth-form-container">

                <div class="success-state">

                    <div class="success-icon">
                        ✓
                    </div>

                    <h3>تم تغيير كلمة المرور</h3>

                    <p>
                        يمكنك الآن تسجيل الدخول بكلمة المرور الجديدة.
                    </p>

                    <a href="{% url 'accounts:signin' %}" class="btn-submit">
                        تسجيل الدخول
                    </a>

                </div>

            </div>

        </div>

    </div>

</body>

</html>