{% extends 'main/base.html' %}

{% load static %}

{% block title %}Chat{% endblock %}


{% block style %} <link rel="stylesheet" href="{% static 'chatbot/css/style.css' %}"> {% endblock %}

{% block content %}
<div class="chat-box">

    <h2>💬 Chat System</h2>

    <div class="messages" id="messages"></div>

    <br>

    <div class="input-area">
        <input type="text" id="input" placeholder="Type message...">
        <button onclick="sendMessage()">Send</button>
    </div>

</div>

<script>

const convId = 1;

// تحميل الرسائل
async function loadMessages() {
    let res = await fetch(`/api/conversation/${convId}/messages/`);
    let data = await res.json();

    let box = document.getElementById("messages");
    box.innerHTML = "";

    data.forEach(msg => {
        let div = document.createElement("div");
        div.classList.add("msg");
        div.classList.add(msg.type);
        div.innerText = msg.content;
        box.appendChild(div);

        box.scrollTop = box.scrollHeight;
    });
}

// إرسال رسالة
async function sendMessage() {
    let input = document.getElementById("input");

    await fetch(`/api/conversation/${convId}/send/`, {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({
            content: input.value
        })
    });

    input.value = "";
    loadMessages();
}

// تحديث أولي
loadMessages();

</script>

{% endblock %}